.login_main{
    display: flex;
    justify-content: center;
    align-items: center;
    /* top: 0px;
    left: 0px; */
    width: 360px;
    height: 800px;
    /* UI Properties */
    background: transparent linear-gradient(180deg, #000000 0%, #000E09 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    border-radius: 28px;
    opacity: 1;
    /* margin-top: -160px; */
} 
.login_leaf{
    /* top: 100px;
    left: 134px; */
    width: 90px;
    height: 90px;
    margin-left: 75px;
    margin-top: -70px; 
    /* margin-top: 100px; */
    /* margin-top: 160px; */
    /* display: none; */
}
    /* background: transparent url('img/Group 3.png') 0% 0% no-repeat padding-box; */

    /* display: block; */


.label{
    color: #a19b9b66;
    font: normal normal bold 16px/21px Mulish;
    /* box-shadow: inset 0px 3px 3px #FFFDFD40, 3px 3px 3px #4A494947; */
    /* margin-left: 20px; */
}
.image1{
    /* margin-top: -100px;
    margin-left: 134px; */
    /* display: block; */
    top: 160px;
    left: 134px;
    width: 90px;
    height: 90px;
    /* background: transparent url('Group 3.png') 0% 0% no-repeat padding-box; */
    mix-blend-mode: normal;
    /* margin-top: 360px; */
    opacity: 1;
   
    margin-top: -100px; 
}

.input{
    box-shadow: inset 0px 3px 3px #FFFDFD40, 3px 3px 3px #4A494947;
    background: #4d3f3f66 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    opacity: 1;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    color: grey;
}

/* .main2{
    margin-top: 160px;
} */

.login_container{
    margin-left: 20px;
}

.button{
    top: 492px;
    left: 61px;
    width: 218px;
    height: 42px;
    background: transparent linear-gradient(180deg, #00FF2580 0%, #000000 100%, #36A54680 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    border: 2px solid #8CFF0026;
    opacity: 1;
    border-radius: 10px;
}

.signup{
    margin-top: 15px;
    margin-left: 80px;
    color: white;
    background-color: #4d3f3f66;
}